<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div>

	</div>
	<section class="cazul">
		<div class=="container">
			<div class="row">
				<div>
					<video  controls class="img-responsive" >
						<source src="videos/video1.mp4" type="video/mp4"></source>
					</video>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
