<div class="col-md-4 center-block quitar-float text-center principalImage ">
    <img src="img/juntos.jpg" class="img-rounded animated bounceInDown">
    <h1 class="pacifico grande crojo">Amor del bueno</h1>
    <h2 class="dancing cazul">Nathalia & Yefferson</h2>
    <p class="flower">Cuando el amor es de verdad, ni todo el mal del mundo puede acabarlo.</p>
    <nav>
        <a ui-sref="present" class="esp-der">¿Que tal un paseo?</a>
        <a ui-sref="future">¿Planes a futuro?</a>
    </nav>
</div>